@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";
@import "./globals";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
